/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('/demo/vidura-hero.png');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover;
  color: #fff;
  line-height: 1.6;
}

.welcome-wrapper {
  max-width: 40%;
  padding: 80px 80px;
  text-align: auto;
}

h1.page-title {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.intro-text {
  font-size: 1.2em;
  color: rgba(255, 255, 255, 0.8);
}

.info-section {
  margin-top: 40px;
  text-align: left;
}

.info-item {
  margin: 10px 0;
}

label {
  display: block;
  font-size: 1.1em;
  margin-bottom: 5px;
}

input[type="text"] {
  width: 70%;
  padding: 10px;
  margin-top: 5px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  background-color: rgba(255, 255, 255, 0.7);
}

input[type="text"]:disabled {
  background-color: #f0f0f0;
}

@media (max-width: 768px) {
  .wrapper {
    padding: 10px;
  }

  h1.page-title {
    font-size: 2em;
  }

  .intro-text {
    font-size: 1.1em;
  }

  .info-item input[type="text"] {
    font-size: 0.9em;
  }
}

#tarka-chat {
  width: 100%;
}

#tarka-chat .t-container {
  width: 60% !important;
}
